{% extends 'layouts/base.html.twig' %}

{% block title %}Modificar producto{% endblock %}

{% block body %}
            <div class="row">
                <div class="col-lg-12 mt-5 pt-5">
					{{ form_start(form) }}
							<div class="row">
								<div class="col-md-12">    
									          
									<div class="form-group">
										<label>Nombre </label>
										{{ product.name}} 
									</div>
									{{ form_errors(form) }}
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>Categoría </label>
										{{ product.category.name }} 
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>Stock Actual</label>
										{{ product.stock }} 
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group 
											{% if form_errors(form.cantidad) %}
												has-error has-danger
											{% endif %}">
										<label>Cantidad vendida o adquirida</label>
										{{ form_widget(form.cantidad, {'attr': {'class': 'form-control'}}) }} 
									</div>
									{% if form_errors(form.cantidad) %}
										{{ form_errors(form.cantidad) }}
									{% endif %}

									{% for flash_message in app.session.flashbag.get('error') %}

										<div class="alert alert-danger" role="alert">
											{{ flash_message }}
										</div>
									{% endfor %}
								</div>
								<div class="col-md-12 mt-5 text-center">
									<button class="btn btn-primary mr-2">{{ button_label|default('Realizar cambio en stock') }}</button>
								</div>
							</div>
						{{ form_end(form) }}
					 </div>
                    <div class="col-lg-12 mt-4 text-center">
                    <a class="btn btn-secondary mr-2" href="{{ path('app_products_index') }}">Volver al listado</a>
                </div> 
            </div>
{% endblock %}
